.editor {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;

  @media all and (min-width: 768px) {
    padding-top: 70px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 120px;
  }

  &__title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #ffcf51;
    margin-bottom: 30px;
    border-radius: 10px;

    @media all and (min-width: 768px) {
      font-size: 32px;
    }

    @media all and (min-width: 1200px) {
      font-size: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &--date {
      color: #aac3bd;
      font-size: 15px;
      font-weight: 500;

      @media all and (min-width: 768px) {
        font-size: 24px;
      }

      @media all and (min-width: 1200px) {
        font-size: 28px;
      }
    }

    &--dateInput {
      color: #aac3bd;
      border: 2px solid #cbdad9;
      margin-top: 10px;
      background-color: white;
      border-radius: 6px;
      padding: 8px;
      width: 272px;
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      @media all and (min-width: 768px) {
        margin-top: 15px;
        width: 455px;
        padding: 6px;
      }

      @media all and (min-width: 1200px) {
        margin-top: 20px;
        padding: 10px;
        font-size: 18px;
      }
    }

    &--textMood {
      color: #aac3bd;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin: 40px 0 10px 0;
      font-weight: 500;

      @media all and (min-width: 768px) {
        margin-top: 20px;
        font-size: 24px;
        margin-top: 32px;
      }

      @media all and (min-width: 1200px) {
        margin-top: 40px;
        font-size: 28px;
      }
    }

    &--buttons {
      margin-top: 10px;

      .btnSave {
        margin-right: 30px;
        padding: 6px 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #ffcf51;
        background-color: white;
        font-size: 16px;
        border: 2px solid #ffcf51;
        border-radius: 8px;
        margin-top: 20px;
        font-weight: 600;
        cursor: pointer;

        @media all and (min-width: 768px) {
          font-size: 20px;
        }
        @media all and (min-width: 1200px) {
          font-size: 24px;
        }
      }

      .btnSave:hover {
        background-color: #ffcf51;
        color: white;
      }

      .btnCancel {
        background-color: white;
        border: 1px solid white;
        color: #aac3bd;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 10px;
        cursor: pointer;

        @media all and (min-width: 768px) {
          font-size: 20px;
          font-weight: 500;
          padding: 0;
        }
        @media all and (min-width: 1200px) {
          font-size: 24px;
          font-weight: 500;
          padding: 0;
        }
      }

      .btnCancel:hover {
        border-bottom: 2px solid #aac3bd;
        padding: 0;
      }
    }

    &--message {
      border-radius: 6px;
      margin-top: 30px;
      padding: 8px;
      color: #aac3bd;
      border: 2px solid #cbdad9;

      @media all and (min-width: 768px) {
        width: 450px;
        height: 150px;
        font-size: 16px;
      }
      @media all and (min-width: 1200px) {
        width: 450px;
        height: 150px;
        margin-top: 40px;
        font-size: 18px;
      }
    }

    ::placeholder {
      color: #aac3bd;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      @media all and (min-width: 768px) {
        font-size: 16px;
      }
      @media all and (min-width: 1200px) {
        font-size: 18px;
      }
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png)
    center/80% no-repeat;
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}
