.calendar {
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*  border: 1px solid black; */

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    /* border: 1px solid blue; */
    margin: 25px 15px 0 15px;
  }

  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    /* border: 1px solid blue; */
    margin: 25px 30px 0 30px;
  }

  &__image {
    width: 48px;
    margin: 20px 190px 10px 0;

    @media all and (min-width: 768px) {
      margin: 10px;
      /*  border: 1px solid black; */
    }
  }

  &__text {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    word-wrap: break-word;
    margin: 2px auto;
    padding: 10px;
    text-align: left;
    position: relative;
    line-break: auto;

    &--date {
      font-size: 16px;
      color: #aac3bd;
      font-weight: 500;
      margin-bottom: 10px;
    }

    &--message {
      color: #767676;
      font-size: 16px;
    }
  }
}
